form {
    border: 1px solid #eeeeee;
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
}
input, button {
    display: block;
    width: 100%;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
    background-color: #729c9c;
    color: #fff;
    border: none;
    width: 315px;
}